@import url('https://fonts.googleapis.com/css?family=Lato|Lora');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  background: rgba(255, 255, 255, 1);
  color: #111;
  font-family: 'Lato', arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: #139fc9;
}
a:active,
a:hover {
  outline-width: 0;
  color: #139fc9;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Lato', arial, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Lato', arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Lato', arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Lato', arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Lato', arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Lato', arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Lato', arial, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote > *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  -webkit-font-feature-settings: 'tnum';
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
    'Liberation Mono', Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: ' ';
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* custom CSS */

.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6 {
  font-family: 'Lato', arial, sans-serif;
  line-height: 1.6;;
}

.blog p {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  line-height: 1.5;
}

.main-title {
  font-size: 2em;
  margin-bottom: 1.25em;
}

.testimonials {
  margin-bottom: 1.45rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.testimonial-box {
  max-width: 600px;
  margin: 30px auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(16, 32, 32, 0.15) 0px 3px 6px 1px;
}
.testimonial-box:hover {
  box-shadow: rgba(12, 28, 32, 0.15) 0px 1.25rem 4rem 0px;
}
.testimonial-logo {
  width: 200px;
}

.nav-menu {
  display: inline-block;
  float: right;
  margin-top: 1rem;
  margin-left: 0;
}

.nav-item {
  display: inline;
}

.nav-item a {
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item a {
  color: #666;
}

.nav-item a:hover,
.nav-item a:focus,
.nav-item a:active {
  border-bottom: 1px solid;
}

@media (max-width: 991px) {
  .nav-item.dark-switch {
    position: absolute;
    top: 1em;
    right: 2em;
  }
}

.nav-item.dark-switch {
  margin-left: 4em;
}

.testimonial-text {
  padding: 10px 18px 0;
}

.testimonial-author {
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 18px;
}

.testimonial-logo {
  padding: 0 18px 8px;
  float: right;
}

.work-logo {
  height: 80px;
  width: 260px;
  object-fit: contain;
  margin-bottom: 0;
}

.project-technologies {
  padding-top: 10px;
}

.work-logo:hover {
  transform: scale(1.1);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  margin-top: 20px;
}

.work-project {
  width: 360px;
  margin: 10px 10px 20px;
  padding: 15px 20px 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(16, 32, 32, 0.15) 0px 3px 6px 1px;
}

.work-project:hover {
  box-shadow: rgba(12, 28, 32, 0.15) 0px 1.25rem 4rem 0px;
}

.work-project p {
  margin-bottom: 10px;
}

.project-technologies span {
  font-size: 0.7em;
  border-radius: 4px;
  display: inline-block;
  padding: 0 5px;
  margin: 0 1px 5px;
  border: 1px solid #8a8a8a;
}

.open-source {
  background: linear-gradient(
      to right top,
      rgb(41, 214, 122),
      rgb(24, 145, 206)
    )
    rgb(255, 255, 255);
}

.open-source:hover .open-source-title {
  text-decoration: underline;
}

.open-source .open-source-title {
  font-weight: 400;
  font-size: 1.25em;
}

.open-source-title {
  font-size: 1em;
  margin-bottom: 14px;
}

.open-source-desc {
  font-size: 0.8em;
  line-height: 1.2;
}

.form-field {
  width: 280px;
  padding-bottom: 10px;
}

@media (min-width: 320px) {
  .form-field {
    width: 300px;
  }
}

@media (min-width: 360px) {
  .form-field {
    width: 320px;
  }
}

.form-field * {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #4e4e4e;
  background: transparent;
}

.submit-form {
  background-color: #139fc9;
  color: #fff;
}

.muhammad-photo {
  border-radius: 50%;
  width: 300px;
  margin-bottom: 1em;
}

.muhammad-photo > .gatsby-image-wrapper {
  border-radius: 50%;
}

.contact {
  justify-content: center;
  display: flex;
}

@media (min-width: 992px) {
  .width-40,
  .width-60 {
    float: left;
  }
  .width-40 {
    width: 40%;
  }
  .width-60 {
    width: 60%;
  }
}

.width-60 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item .nav-active {
  color: #139fc9;
}

.nav-item a:hover {
  border-bottom: 1px solid #139fc9;
}

.main-header {
  margin: 0 auto 1.45rem;
  max-width: 1200px;
}

header.entry-header, .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide), .inner-body.blog .main > h1 {
  max-width: 42rem;
  margin: 0 auto 1.45rem;
  padding: .5rem 1.0875rem;
}

.inner-body {
  padding-top: 0;
  clear: right;
  display: flex;
  flex-direction: column;
}

.inner-body.home, .inner-body.contact {
  max-width: 1200px;
  margin: 0 auto;
}

.inner-body.home .main, .inner-body.contact .main {
  padding: 0.5rem 1.0875rem;
}

.main nav {
  text-align: center;
}

.site-footer {
  padding: 0.5rem 1.0875rem;
  text-align: center;
  margin-top: 2em;
}

.title-nav-container {
  margin: 0 auto;
  padding: 0.5rem 1.0875rem;
}

@media(max-width: 992px) {
  .title-logo {
    text-align: center;
  }
}
.title-logo {
  margin-bottom: 0;
}

.title-logo.monogram {
  width: 100px;
}

.title-logo.type {
  width: 160px;
}

.title-logo.full {
  width: 300px;
}

@media (max-width: 500px) {
  .title-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-header {
    margin-bottom: 0;
  }
  .nav-menu {
    margin-bottom: 1rem;
  }
}

.contact-button {
  border: 1px solid #3a3a3a;
  color: #3a3a3a;
  padding: 8px 12px;
  font-size: 1.25em;
}

.contact-button:hover, .contact-button:focus, .contact-button:active {
  background-color: #139fc9;
  color: #fff;
  border-color: #fff;
}

img {
  margin-bottom: 0.5rem;
}

figcaption {
  text-align: center;
}

h1.entry-title {
  margin-bottom: 15px;
}

header.entry-header {
  margin-bottom: 20px;
}

svg.svg-icon {
  margin-right: 8px;
}

.posted-on time {
  margin-right: 8px;
}

.tags-links svg.svg-icon {
  margin-left: 8px;
}

.talk-title {
  margin-bottom: 10px;
  line-height: 1.5;
}

.black-bold {
  color: black;
  font-weight: bold;
}

figure.wp-block-image {
  text-align: center;
}

header.entry-header, header.entry-header h2 {
  margin-bottom: 12px;
}

header.entry-meta {
  font-size: 0.85rem;
  margin-top: -12px;
}